<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">BoldnRepair</h6>
      <nav>
        <ul class="nospace">
          <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="https://www.facebook.com/BoldnRepair/"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-google-plus" href="https://plus.google.com/101683746452974306207"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Contact</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          61 Garnet Ave<br>
          Chapmanville, West Virginia 25508
          </address>
        </li>
        <li><a href="tel:+13047840172"><i class="fa fa-phone"></i> 304-784-0172</a></li>
        <li><a href="mailto:melhoir@gmail.com"><i class="fa fa-envelope-o"></i> BoldnRepair.com</a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Send a Message</h6>
      <form action="https://formspree.io/melhoir@gmail.com"
      method="POST">
        <fieldset>
          <legend>Message:</legend>
          <input class="btmspace-15" type="text" name="name" placeholder="Name">
          <input class="btmspace-15" type="email" name="_replyto" placeholder="Email">
          <input class="btmspace-15" type="text" name="message" placeholder="Message">
          <button type="submit" value="Send">Submit</button>
        </fieldset>
      </form>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">BoldnRepair.com</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.backtotop.js"></script>
<script src="js/jquery.mobilemenu.js"></script>
</body>
</html>